@{
    ViewBag.Title = "Graficos";
}

<h2>Graficos</h2>

<h4>Gráfico de Columnas</h4>
<img src="@Url.Action("GraficoColumnas")" />

<h4>Gráfico de Barras</h4>
<img src="@Url.Action("GraficoBarras")" />

<h4>Gráfico de Tarta</h4>
<img src="@Url.Action("GraficoTarta")" />

<h4>Gráfico de Radar</h4>
<img src="@Url.Action("GraficoRadar")" />
